<style>

    .preload {
        background: transparent url("loading-animation.gif") no-repeat scroll center center;
        display: block;
        margin: 20px auto;
    }
</style>
<div class="panel panel-default">
    <div class="panel-body">

        Найти:
        <input ng-model="myQuery"><br><br>

        Сортировать по:
        <select ng-model="myOrderProperty">
            <option value="id">ID</option>
            <option value="weight">Весу</option>
            <option value="height">Росту</option>
        </select>

    </div>
</div>
<img src="preload.gif" alt="" class="preload" ng-if="dataLoading"/>
<div class="row">
    <div class="col-md-6">
        <my-list info="pokemons"></my-list>
    </div>
    <div class="col-md-6">
        <md-content>
            <md-list flex>
                <md-list-item class="md-3-line" ng-repeat="berrie in berries">
                    <div class="list-group-item">
                        <md-subheader md-colors="{color: 'teal'}">{{berrie.objectId }}</md-subheader>
                        <md-subheader class="md-no-sticky">{{berrie.name | uppercase }}</md-subheader>
                        <div class="md-list-item-text" layout="column">
                            <p>Свойства:{{berrie.option}}</p>
                        </div>
                    </div>
                </md-list-item>
            </md-list>
        </md-content>
    </div>
</div>
<div class="panel panel-default" ng-show="myQuery">
    <div class="panel-body">

        <p>
            Выведены покемоны, содержащие
            {{myQuery}}
        </p>

    </div>
</div>
